---
interface Props {
  twitter: string;
}

const { twitter } = Astro.props;
---

<a 
  href={`https://twitter.com/${twitter}`}
  target="_blank"
  rel="noopener noreferrer"
  class="social-link"
>
  @{twitter}
</a>

<style>
  .social-link {
    color: var(--color-accent);
    text-decoration: none;
    font-size: 0.9rem;
  }

  .social-link:hover {
    text-decoration: underline;
  }
</style>