---
interface Props {
  content: string;
  isDetailPage?: boolean;
}

const { content, isDetailPage = false } = Astro.props;
---

<div class={`diary-content ${isDetailPage ? 'detail-view' : ''}`}>
  {content}
</div>

<style>
  .diary-content {
    font-family: 'Shippori Mincho', serif;
    line-height: 3;
    color: #333;
    text-align: justify;
    word-break: normal;
    overflow-wrap: break-word;
  }

  .diary-content:not(.detail-view) {
    writing-mode: horizontal-tb;
    max-width: 600px;
  }

  .diary-content.detail-view {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 500px;
    margin-left: auto;
    padding-left: 2rem;
  }

  @media (max-width: 768px) {
    .diary-content:not(.detail-view) {
      max-width: 100%;
    }

    .diary-content.detail-view {
      height: 400px;
    }
  }
</style>