---
---

<header class="sticky top-0 bg-diary-bg border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <h1 class="text-3xl font-mincho font-bold text-diary-black text-center">
          <a href="/">nikki</a>
    </h1>
  </div>
</header>